
.tm-banner-text {
    animation-duration: 5s;
    animation-name: slide;
}

@keyframes slide {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.tm-main-nav:hover {
    color: aliceblue;
}

.tm-nav-item:hover{
    background-color: lightskyblue;

}

